<template>
  <Container title="Select Level" :parent="ModeSelect">
    <MenuEntry
      v-for="(pace, index) in levels"
      :key="index"
      accent="dark"
      :enabled="enabled(index)"
      :icon="lockIcon(index)"
      :label="`Level ${index + 1}: ${pace}bpm`"
      @click="levelSelected(index + 1, pace)"
    />
  </Container>
</template>

<script>
  import cookie from 'cookie'
  import MenuEntry from './MenuEntry.vue'
  import Container from './Container.vue'
  import ModeSelect from './ModeSelect.vue'
  import Game from './Game.vue'
  export default {
    components: {Container, MenuEntry},
    data: () => ({ModeSelect, levels: [30, 40, 50, 60, 70, 80, 90, 100]}),
    methods: {
      enabled(level) {
        const unlockedLevel = cookie.parse(document.cookie)['unlockedLevel_advanced'] || 0;
        return level <= unlockedLevel;
      },
      lockIcon(level) {
        if (this.enabled(level)) {
          return 'unlock-fill';
        }
        return 'lock-fill';
      },
      levelSelected(index, level) {
        this.$root.mainComponentProperties = {
          mode: 'Advanced',
          level: index,
          initialPace: level,
          allowedNotes: [0, 2, 4, 5, 7, 9, 11, 12]
        };
        this.$root.mainComponent = Game;
      }
    }
  }
</script>