<template>
  <Container title="Select Level" :parent="ModeSelect">
    <MenuEntry
      v-for="(allowedNotes, index) in levels"
      :key="index"
      accent="light"
      :enabled="enabled(index)"
      :icon="lockIcon(index)"
      :label="`Level ${index + 1}: ${levelAsScaleIndexes(allowedNotes)}`"
      @click="levelSelected(index + 1, allowedNotes)"
    />
  </Container>
</template>

<script>
  import cookie from 'cookie'
  import Container from './Container.vue'
  import MenuEntry from './MenuEntry.vue'
  import ModeSelect from './ModeSelect.vue'
  import Game from './Game.vue'
  export default {
    components: {Container, MenuEntry},
    data() {
      return {
        ModeSelect,
        semitonesFromBaseToIndex: {
          0: 1, 2: 2, 4: 3, 5: 4, 7: 5, 9: 6, 11: 7, 12: 1
        },
        levels: [
          [0, 2], [0, 2, 4], [0, 2, 4, 5],
          [11, 12], [9, 11, 12], [7, 9, 11, 12],
          [0, 2, 4, 5, 7, 9, 11, 12]
        ]
      };
    },
    methods: {
      enabled(level) {
        const unlockedLevel = cookie.parse(document.cookie)['unlockedLevel_basic'] || 0;
        return level <= unlockedLevel;
      },
      lockIcon(level) {
        if (this.enabled(level)) {
          return 'unlock-fill';
        }
        return 'lock-fill';
      },
      levelAsScaleIndexes(level) {
        return level.map(
          semitonesFromBase => this.semitonesFromBaseToIndex[semitonesFromBase]
        );
      },
      levelSelected(index, level) {
        this.$root.mainComponentProperties = {
          mode: 'Basic',
          level: index,
          initialPace: 40,
          allowedNotes: level
        };
        this.$root.mainComponent = Game;
      }
    }
  }
</script>