<script>
  import Key from './Key.vue';
  export default {
    extends: Key,
    computed: {
      accentUp: () => 'dark',
      accentDown: () => '700'
    }
  }
</script>

<style scoped>
  .key:disabled {
    background: #343a40;
  }
  .key {
    width: 11%;
    height: 70%;
    margin-left: -5.5%;
    margin-right: -5.5%;
    z-index: 1;
  }
</style>
