<template>
  <div class="body">
    <header><h1>Flappy Ear</h1></header>
    <nav>
      <h2>{{ title }}</h2>
      <i
        v-if="parent"
        @click="$root.mainComponent = parent"
        class="bi bi-arrow-left-circle clickable fs-2"
      />
    </nav>
    <main><slot /></main>
    <footer>
      <small class="align-left">
        <div>copyright &copy; 2021</div>
        <div>
          <a
            href="https://gitlab.com/ptokarski/flappyear"
            target="_blank"
            class="text-dark"
          >gitlab.com/ptokarski/flappyear</a>
        </div>
      </small>
      <small class="align-right">
        <div>license</div>
        <div>
          <a
            href="https://www.gnu.org/licenses/gpl-3.0.en.html"
            target="_blank"
            class="text-dark"
          >GNU GPL</a>
        </div>
      </small>
    </footer>
  </div>
</template>

<script>
  export default {
    props: {
      title: {type: String, default: null},
      parent: {type: Function, default: null}
    }
  }
</script>

<style scoped>
  header {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }
  nav {
    display: flex;
    justify-content: space-between;
  }
  footer {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
  }
  .align-left { text-align: left; }
  .align-right { text-align: right; }
  .body {
    width: 700px;
    height: 100vh;
    min-height: 640px;
    min-width: 360px;
    max-width: 700px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
  }
  main {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    flex: auto;
  }
</style>
