<template>
  <div class="drop">
    <button
      class="btn btn-lg btn-light d-flex justify-content-between"
      @click="showOptions = !showOptions"
    >
      <span>{{ modelValue }}</span>
      <i class="bi bi-caret-down-fill" />
    </button>
    <div :class="{'d-none': !showOptions, 'bg-light': true, 'drop-options': true}">
      <div class="drop-menu">
        <div
          v-for="option in options" :key="option"
          class="drop-item"
          @click="choose(option)"
        >{{ option }}</div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: {options: Array, modelValue: {type: String, default: null}},
    data: () => ({showOptions: false}),
    methods: {
      choose(option) {
        this.$emit("update:modelValue", option);
        this.showOptions = false;
      }
    }
  }
</script>

<style scoped>
  .drop {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .drop-item {
    padding-left: 5px;
    font-size: 21px;
    color: #343a40;
  }
  .drop-item:hover {
    color: black;
  }
  .drop-item:active {
    background-color: #adb5bd;
  }
  .drop-options {
    border-radius: 10px;
    border-style: solid;
    border-color: #adb5bd;
    border-width: thin;
    position: absolute;
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    z-index: 2;
  }
  .drop-menu {
    padding-left: 10px;
    width: 100%;
    cursor: pointer;
    max-height: 300px;
    overflow-y: scroll;
  }
</style>
