<template>
  <Container title="Game" :parent="parent">
    <div class="d-flex justify-content-between mb-2">
      <div>
        Level
        <h5 class="mb-0">{{ mode }} {{ level }}</h5>
        <div v-if="mode === 'Basic'" class="fw-light">
          {{ levelAsScaleIndexes() }}
        </div>
        <div v-else class="fw-light">
          [ initial pace: {{ initialPace }}bpm ]
        </div>
      </div>
      <div>
        Your Best Score
        <h5 class="d-flex justify-content-end">{{ bestScoreSoFar() }}</h5>
      </div>
    </div>
    <div v-if="successRate === 0" class="mb-4">
      <template v-if="correctAnswers() < 50">
        <h1 class="text-danger">Level Failed</h1>
        <p class="fw-bold fs-4">
          50 correct answers is required to complete the level.
        </p>
      </template>
      <template v-else>
        <h1 class="text-success">Level Completed!</h1>
        <div class="fw-bold fs-4">
          Congratulations! You reached 50 correct answers.
        </div>
        <div class="fw-bold fs-2">
          Next Level has been unlocked!
        </div>
      </template>
    </div>
    <div
      class="d-flex justify-content-between bg-gray-900 p-4 mb-2 rounded-pill"
    >
      <i :class="`bi bi-heart-fill me-1 text-${successColor()} fs-5`" />
      <div class="flex-fill me-3 progress lifebar">
        <div
          :class="`progress-bar bg-${successColor()}`"
          :style="{width: `${successRate}%`}"
        />
      </div>
      <h5 class="ms-3 text-light pb-0">
        {{ pace }}bpm / {{ correctAnswers() }} correct answers
      </h5>
    </div>
    <KeyBoard
      :class="{'d-none': successRate === 0}"
      :activeKeyIndexes="activeKeyIndexes()"
      @play="keyPlayed"
    />
  </Container>
</template>

<script>
  import { instrument } from 'soundfont-player'
  import cookie from 'cookie'
  import KeyBoard from './KeyBoard.vue'
  import Container from './Container.vue'
  import BasicLevelSelect from './BasicLevelSelect.vue'
  import AdvancedLevelSelect from './AdvancedLevelSelect.vue'
  export default {
    components: {Container, KeyBoard},
    props: {
      mode: {validate: value => ['Basic', 'Advanced'].includes(value)},
      level: {type: Number, default: null},
      allowedNotes: {type: Array, default: null},
      initialPace: {type: Number, default: null}
    },
    data() {
      return {
        semitonesFromBaseToIndex: {
          0: 1, 2: 2, 4: 3, 5: 4, 7: 5, 9: 6, 11: 7, 12: 1
        },
        instrument: null,
        questions: [],
        successRate: 100,
        pace: null,
        gameToken: null,
      };
    },
    async mounted() {
      this.$nextTick(this.initGame);
      await this.initDevices();
      this.gameToken = {cancelled: false};
      this.play(this.gameToken);
    },
    unmounted() {
      this.gameToken.cancelled = true;
      this.resetDevices();
    },
    computed: {
      parent() {
        if (this.mode === 'Basic') {
          return BasicLevelSelect;
        }
        if (this.mode === 'Advanced') {
          return AdvancedLevelSelect;
        }
        console.warn("Neither 'Basic' nor 'Advanced' mode set.")
        return null;
      }
    },
    methods: {
      activeKeyIndexes() {
        if (this.allowedNotes === null) {
          return [];
        }
        return this.allowedNotes.map(note => note % 12);
      },
      levelAsScaleIndexes() {
        if (this.allowedNotes === null) {
          return [];
        }
        return this.allowedNotes.map(
          semitonesFromBase => this.semitonesFromBaseToIndex[semitonesFromBase]
        );
      },
      bestScoreIndex() {
        return `bestScore_${this.mode.toLowerCase()}_${this.level}`;
      },
      bestScoreSoFar() {
        if (!this.mode) {
          return 0;
        }
        if (!this.level) {
          return 0;
        }
        return cookie.parse(document.cookie)[this.bestScoreIndex()] || 0;
      },
      isAnswerCorrect(question) {
        if (question.answer === null) {
          return false;
        }
        return question.question % 12 === question.answer % 12;
      },
      isAnswerIncorrect(question) {
        return !this.isAnswerCorrect(question);
      },
      updateSuccessRate() {
        const latestQuestions = this.questions.slice(-25);
        if (latestQuestions.length === 0) {
          this.successRate = 100;
          return;
        }
        const latestIncorrectAnswers = latestQuestions.filter(this.isAnswerIncorrect);
        const successRate = 100 - ((latestIncorrectAnswers.length / 6) * 100);
        if (successRate < 0) {
          this.successRate = 0;
          return;
        }
        this.successRate = successRate;
      },
      successColor() {
        if (this.successRate >= 67) {
          return 'success';
        }
        if (this.successRate >= 34) {
          return 'warning';
        }
        return 'danger';
      },
      correctAnswers() {
        return this.questions.filter(this.isAnswerCorrect).length;
      },
      keyPlayed(keyCode, eventType) {
        const latestQuestion = this.questions[this.questions.length - 1];
        if (!latestQuestion) {
          return;
        }
        if (latestQuestion.answer !== null) {
          return;
        }
        if (eventType !== 'down') {
          return;
        }
        if (!this.activeKeyIndexes().includes(keyCode % 12)) {
          return;
        }
        latestQuestion.answer = keyCode % 12;
        if (this.correctAnswers() > this.bestScoreSoFar()) {
          document.cookie = cookie.serialize(
            this.bestScoreIndex(), this.correctAnswers(), {maxAge: 3153600000}
          );
        }
        this.updateSuccessRate();
      },
      initGame() {
        this.questions = [];
        this.successRate = 100;
        this.pace = this.initialPace;
      },
      async initDevices() {
        this.instrument = await instrument(
          new AudioContext(),
          cookie.parse(document.cookie).instrumentName || 'acoustic_grand_piano'
        );
      },
      resetDevices() {
        this.instrument.stop();
        this.instrument.context.close();
        this.instrument = null;
      },
      sleep(time) {
        return new Promise((resolve) => setTimeout(resolve, time));
      },
      async playCadence() {
        const tonic = [48, 55, 64, 72];
        const subdominant = [53, 57, 65, 72];
        const dominant = [55, 55, 62, 71];
        this.instrument.schedule(
          this.instrument.context.currentTime,
          [
            ...tonic.map(note => ({time: 0, duration: 1, note})),
            ...subdominant.map(note => ({time: 1, duration: 1, note})),
            ...dominant.map(note => ({time: 2, duration: 1, note})),
            ...tonic.map(note => ({time: 3, duration: 3, note})),
          ]
        );
        await this.sleep(8000);
      },
      async askQuestion() {
        const randomValue = Math.floor(Math.random() * this.allowedNotes.length);
        const question = this.allowedNotes[randomValue];
        this.questions.push({question, answer: null});
        if (!this.instrument) {
          return;
        }
        const note = this.instrument.play(60 + question);
        await this.sleep(60000 / this.pace);
        note.stop();
      },
      unlockedLevelIndex() {
        return `unlockedLevel_${this.mode.toLowerCase()}`;
      },
      unlockedLevel() {
        if (!this.mode) {
          return 0;
        }
        return cookie.parse(document.cookie)[this.unlockedLevelIndex()] || 0;
      },
      async play(token) {
        await this.playCadence();
        if (token.cancelled) {
          return;
        }
        for (;;) {
          await this.askQuestion();
          this.updateSuccessRate();
          if (this.successRate <= 0) {
            break;
          }
          if (this.correctAnswers() !== 0 && this.correctAnswers() % 4 === 0) {
            this.pace += 1;
          }
        }
        if (this.correctAnswers() < 50) {
          return;
        }
        if (this.level < this.unlockedLevel()) {
          return;
        }
        document.cookie = cookie.serialize(
          this.unlockedLevelIndex(), this.level, {maxAge: 3153600000}
        );
      },
    }
  }
</script>

<style scoped>
  .lifebar {
    height: 28px;
  }
</style>
