<template>
  <button
    type="button"
    :disabled="!active"
    :class="cssClasses()"
  >
    <h4 v-if="active">{{ keyboardButton.toUpperCase() }}</h4>
  </button>
</template>

<script>
  export default {
    props: {
      keyboardButton: {type: String, default: null},
      active: {type: Boolean, default: true}
    },
    data: () => ({isDown: 0}),
    methods: {
      up() {
        if (!this.active) {
          return;
        }
        if (this.isDown > 0) {
          this.isDown -= 1;
        }
      },
      down() {
        if (this.active) {
          this.isDown += 1;
        }
      },
      cssClasses() {
        return ['btn', ...this.buttonStatusAccent(), 'pb-5', 'key'];
      },
      buttonStatusAccent() {
        if (this.isDown) {
          return [`bg-gray-${this.accentDown}`, 'down'];
        }
        return [`btn-${this.accentUp}`];
      }
    }
  }
</script>

<style>
  .key {
    display: flex!important;
    justify-content: center;
    align-items: flex-end;
  }
  .key:disabled {
    opacity: 1!important;
  }
  .key.down {
    color: white!important;
  }
  .key:focus {
    box-shadow: none!important;
  }
</style>
