<template>
  <div class="keys-container">
    <template v-for="(key, index) in regularKeyboardKeys" :key="key">
      <WhiteKey
        v-if="whiteKeyIndexes.includes(index)"
        :ref="`key${index}`"
        :keyboardButton="key"
        :active="activeKeyIndexes.includes(index)"
        @touchstart="midiMessaged({data: [144, index + 60]})"
        @touchend="midiMessaged({data: [128, index + 60]})"
        @mousedown="midiMessaged({data: [144, index + 60]})"
        @mouseup="midiMessaged({data: [128, index + 60]})"
        @mouseleave="midiMessaged({data: [128, index + 60]})"
      />
      <BlackKey
        v-else
        :ref="`key${index}`"
        :keyboardButton="key"
        :active="activeKeyIndexes.includes(index)"
        @touchstart="midiMessaged({data: [144, index + 60]})"
        @touchend="midiMessaged({data: [128, index + 60]})"
        @mousedown="midiMessaged({data: [144, index + 60]})"
        @mouseup="midiMessaged({data: [128, index + 60]})"
        @mouseleave="midiMessaged({data: [128, index + 60]})"
      />
    </template>
  </div>
</template>

<script>
  import WhiteKey from './WhiteKey.vue'
  import BlackKey from './BlackKey.vue'

  const midiEventTypes = {144: 'down', 128: 'up'}

  export default {
    components: { WhiteKey, BlackKey },
    props: {
      activeKeyIndexes: {
        type: Array,
        default: () => Array.from({length: 12}, (...[, index]) => index)
      }
    },
    data() {
      return {
        whiteKeyIndexes: [0, 2, 4, 5, 7, 9, 11],
        regularKeyboardKeys: ['a', 'w', 's', 'e', 'd', 'f', 't', 'g', 'y', 'h', 'u', 'j'],
        midiAccess: null, keysOn: {}
      };
    },
    async mounted() {
      window.onkeydown = event => {
        if (!this.regularKeyboardKeys.includes(event.key)) {
          return;
        }
        const fakeMidiKeyCode = this.regularKeyboardKeys.indexOf(event.key);
        this.midiMessaged({data: [144, fakeMidiKeyCode + 60]});
      };
      window.onkeyup = event => {
        if (!this.regularKeyboardKeys.includes(event.key)) {
          return;
        }
        const fakeMidiKeyCode = this.regularKeyboardKeys.indexOf(event.key);
        this.midiMessaged({data: [128, fakeMidiKeyCode + 60]});
      };
      try {
        this.midiAccess = await navigator.requestMIDIAccess();
      } catch {
        return;
      }
      for (var input of this.midiAccess.inputs.values()) {
        input.onmidimessage = this.midiMessaged;
      }
    },
    async unmounted() {
      if (this.midiAccess !== null) {
        for (var input of this.midiAccess.inputs.values()) {
          input.onmidimessage = () => {};
        }
      }
      window.onkeydown = null;
      window.onkeyup = null;
    },
    methods: {
      midiMessaged(event) {
        const [eventTypeCode, keyCode,] = event.data;
        const eventType = midiEventTypes[eventTypeCode];
        if (eventType === 'down') {
          if (this.keysOn[keyCode]) {
            return;
          }
          this.keysOn[keyCode] = true;
        } else if (eventType === 'up') {
          this.keysOn[keyCode] = false;
        } else {
          console.warn('Unexpected MIDI event received: ', event);
          return;
        }
        this.$refs[`key${keyCode % 12}`][eventType]();
        this.$emit('play', keyCode, eventType);
      }
    }
  }
</script>

<style scoped>
  .keys-container {
    height: 100%;
    display: flex;
  }
</style>
