<template>
  <Container title="Main Menu">
    <MenuEntry
      accent="dark"
      label="Play"
      icon="play-fill"
      @click="$root.mainComponent = ModeSelect"
    />
    <MenuEntry
      accent="light"
      label="Settings"
      icon="gear-fill"
      @click="$root.mainComponent = Settings"
    />
  </Container>
</template>

<script>
  import Container from './Container.vue'
  import MenuEntry from './MenuEntry.vue'
  import ModeSelect from './ModeSelect.vue'
  import Settings from './Settings.vue'
  export default {
    components: {Container, MenuEntry},
    data: () => ({ModeSelect, Settings}),
  }
</script>
