<template>
  <div
    class="my-1"
    :style="{'pointer-events': enabled ? 'all' : 'none'}"
  >
    <button :class="`btn btn-${accent} btn-lg w-100`" :disabled="!enabled">
      <h3>{{ label }} <i v-if="icon" :class="`bi bi-${icon}`" /></h3>
    </button>
  </div>
</template>

<script>
  export default {
    props: {
      accent: {validator: value => ['dark', 'light'].includes(value)},
      label: {type: String, default: null},
      icon: {type: String, default: null},
      enabled: {type: Boolean, default: true},
    }
  }
</script>
