<template>
  <Container title="Select Mode" :parent="MainMenu">
    <MenuEntry
      accent="dark"
      label="Basic"
      icon="music-note"
      @click="$root.mainComponent = BasicLevelSelect"
    />
    <MenuEntry
      accent="light"
      label="Advanced"
      icon="music-note-list"
      @click="$root.mainComponent = AdvancedLevelSelect"
    />
  </Container>
</template>

<script>
  import Container from './Container.vue'
  import MenuEntry from './MenuEntry.vue'
  import MainMenu from './MainMenu.vue'
  import BasicLevelSelect from './BasicLevelSelect.vue'
  import AdvancedLevelSelect from './AdvancedLevelSelect.vue'
  export default {
    components: {Container, MenuEntry},
    data: () => ({MainMenu, BasicLevelSelect, AdvancedLevelSelect}),
  }
</script>