<template>
  <Container title="Settings" :parent="MainMenu">
    <PlayableKeyBoard />
  </Container>
</template>

<script>
  import Container from './Container.vue'
  import PlayableKeyBoard from './PlayableKeyBoard.vue'
  import MainMenu from './MainMenu.vue'
  export default {
    components: {Container, PlayableKeyBoard},
    data: () => ({MainMenu})
  }
</script>
