<script>
  import Key from './Key.vue';
  export default {
    extends: Key,
    computed: {
      accentUp: () => 'light',
      accentDown: () => '600'
    }
  }
</script>

<style scoped>
  .key:disabled {
    background: #dee2e6;
  }
  .key {
    width: 13.5%;
    height: 100%;
    margin-left: 0.34%;
    margin-right: 0.34%;
  }
</style>
