<template>
  <component :is="mainComponent" v-bind="mainComponentProperties" />
</template>

<script>
  import MainMenu from './components/MainMenu.vue'
  export default {
    data: () => ({mainComponent: MainMenu, mainComponentProperties: null})
  }
</script>

