$primary: #adb5bd !default;

@import 'bootstrap/scss/bootstrap.scss';
@import '~bootstrap-icons/font/bootstrap-icons.css';

.bg-gray-100 {
  background-color: $gray-100;
}
.bg-gray-200 {
  background-color: $gray-200;
}
.bg-gray-300 {
  background-color: $gray-300;
}
.bg-gray-400 {
  background-color: $gray-400;
}
.bg-gray-500 {
  background-color: $gray-500;
}
.bg-gray-600 {
  color: white;
  background-color: $gray-600;
}
.bg-gray-700 {
  color: white;
  background-color: $gray-700;
}
.bg-gray-800 {
  color: white;
  background-color: $gray-800;
}
.bg-gray-900 {
  color: white;
  background-color: $gray-900;
}

#app {
  display: flex;
  justify-content: center;
}

.clickable {
  cursor: pointer;
}
